aiogram
aiohttp
aiosignal
aniso8601
anyascii
asgiref
async-timeout
attrs
autopep8
Babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
config
coverage
crispy-bootstrap5
cryptography
defusedxml
diff-match-patch
dj-database-url
dj-email-url
Django
django-allauth
django-bootstrap-v5
django-cache-url
django-ckeditor
django-cors-headers
django-crispy-forms
django-dajax
django-dajaxice
django-elasticsearch-dsl
django-environ
django-etc
django-extensions
django-filebrowser
django-filter
django-grappelli
django-hitcount
django-htmx
django-import-export
django-jazzmin
django-js-asset
django-markdown
django-modelcluster
django-modeltranslation
django-mptt
django-permissionedforms
django-rest-framework
django-smart-selects
django-summernote
django-taggit
django-templated-mail
django-tinymce
django-treebeard
django-widget-tweaks
django_debug_toolbar
djangoajax
djangorestframework
djangorestframework-simplejwt
djoser
draftjs-exporter
easy-thumbnails
elasticsearch
elasticsearch-dsl
environ
environs
et-xmlfile
face-recognition-models
factory-boy
Faker
filetype
frozenlist
graphene
graphene-django
graphql-core
graphql-relay
gunicorn
html5lib
idna
import-export
l18n
magic-filter
Markdown
MarkupPy
marshmallow
multidict
numpy
oauthlib
odfpy
opencv-python
openpyxl
packaging
Pillow
promise
psycopg2-binary
pycodestyle
pycparser
PyJWT
python-dateutil
python-decouple
python-dotenv
python3-openid
pytz
PyYAML
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sorl-thumbnail
soupsieve
sqlparse
stripe
tablib
telepath
text-unidecode
toml
typing_extensions
tzdata
Unipath
urllib3
wagtail
webencodings
whitenoise
Willow
xlrd
xlwt
yarl